@tailwind base;
@tailwind components;
@tailwind utilities;
/* You can add global styles to this file, and also import other style files */

::-webkit-scrollbar {
    width: 0.4rem; /* Width of the scrollbar */
  }
  
  /* Scrollbar handle */
  ::-webkit-scrollbar-thumb {
    background: #4B6CD3; /* Color of the scrollbar handle */
    border-radius: 5px; /* Rounded corners for the scrollbar handle */
  }
  
 
  